<!DOCTYPE html>
<html lang="pt-br" ng-app="ProductsSystem">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema de Produtos{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css" />
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script src="{{ asset('assets/js/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('assets/js/angular/angular.js') }}"></script>
        <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>

        <script src="{{ asset('assets/js/angular/angular-animate.js') }}"></script>
        <script src="{{ asset('assets/js/angular/angular-touch.js') }}"></script>
        <script src="{{ asset('assets/js/ui-bootstrap-2.0.2.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>