{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/checkbox.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

    <form method="POST" enctype="multipart/form-data">
        <div class="modal-header">
            <h3 class="modal-title">Editar</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <label for="exampleInputEmail1">Código:</label>
                    <input type="number" id="code" ng-model="product[0].code">
                </div>
                <div class="col-md-2">
                    <label>Ativo:
                        <input type="checkbox" name="active" id="active" ng-model="product[0].active" value="{[{ product.id }]}" class="custom-checkbox green mini" />
                        <div><div></div></div>
                    </label>
                </div>
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Descriçao:</label>
                    <input type="text"  id="description" ng-model="product[0].description">
                </div>
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Saldo:</label>
                    <input type="number" id="balance" ng-model="product[0].balance" value="{{ product.balance }}" placeholder="{{ product.balance }}">
                </div>
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Preço:</label>
                    <input type="number" name="price" step="0.01" min="0.01" max="9999" ng-model="product[0].price">
                </div>


            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="edit({{ product.id }})">Editar</button>
        </div>
    </form>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/angular/controllers/IndexController.js') }}"></script>
{% endblock %}